@font-face {
    font-family: 'gagalin';
    src: url(../fonts/Gagalin-Regular.otf);
}
@font-face {
    font-family: 'Glacial-Indifference-Regular';
    src: url(../fonts/GlacialIndifference-Regular.otf);
    font-weight: 500;
}
:root {
    /* LightMode */
    --black-olive: #404A46ff;
    --green-pigment: #1C9941ff;
    --whitegreen: #E6F5E5;
    --yellow: #C8D92Bff;
    --middle-green-yellow: #B4C057ff;
    --russian-green: #70937Bff;
    --ash-gray: #CDD9C9ff;
    --baby-powder: #F8FAF8ff;
    --eton-blue: #89C99Bff;
    --font-menu: 'Barlow', sans-serif;
    --font-h:'gagalin', sans-serif;
    --font-p:'Glacial-Indifference-Regular', serif;
}

* {
    Box-sizing: border-box;
    Padding: 0 0;
    Margin: 0 0;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul {
    list-style: none;
    margin: 0px;
}



header nav {
    background: var(--whitegreen);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 26vh;
    align-items: flex-end;
    padding: 0vw 2vw 0vw 2vw;
    font-family: var(--font-menu);
    font-weight: 400;
}
.menu-icon {
    display: none;
    align-self: center;
    width: 10%;
    position: absolute;
    left: 5vw;
}
.logo {
    width: 35%;
    min-width: 265px;
}
.logo img {
    width: 100%; height: 100%;
}
.menu {
    width: 100%;
    margin-top: 2vw;
}
.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 3vw;
    text-transform: uppercase;
    
}
.menu>ul>li {
    padding: 1vw 1vw 1vw;
    justify-content: center;
    color: var(--russian-green);
    font-size: max(3.2vw,19px);
}
.menu>ul>li>a {
    padding: 1vw 1vw 1vw;
    color: var(--russian-green);
}
.menu>ul>li:hover {
    background: var(--green-pigment);
    color: var(--baby-powder);
    transition-property: all;
    transition-duration: 0.7s;
}
.menu>ul>li:hover >a {
    color: var(--baby-powder);
}
ul.submenu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -4vw;
    top: calc(2vw + 19px);
    left: -3vw;
    width: max-content;
    background: var(--whitegreen);
}
#portfolio {
    position: relative;
    padding: 1vw 1vw 1vw;

    /* display: flex;
    align-items: stretch; */    
}
#portfolio:hover> ul.submenu {
    opacity: 1;
    visibility: visible;
    transition-property: all;
    transition-duration: 0.7s;
}
li.submenu {
    padding: 2vw 2vw;
    color: var(--russian-green);
}
li.submenu a {
    padding: 1.5vw 2vw;
    color: var(--russian-green);
}
li.submenu:hover {
    background: var(--green-pigment);
    transition-property: all;
    transition-duration: 0.7s;
}
li.submenu:hover>a {
    color: var(--baby-powder);
}
main {
    width: 100%;
}
section.login {
    display: none;
    justify-content: center;
    align-items: center;
}
.if-login {
    width: fit-content;
    height: 506px;
}
ul.login {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(2vw + 19px);
    left: -2vw;
    width: max-content;
    
    background: var(--whitegreen);
}
#contacto {
    position: relative;
}
li#contacto:hover>ul.login {
    visibility: visible;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.7s;
    
}
li.login-li {
    padding: 2vw 2vw;
    color: var(--russian-green);
}
li.login-li a {
    padding: 1.5vw 3vw 1.5vw 1vw;
    color: var(--russian-green);
}
li.login-li:hover {
    background: var(--green-pigment);
    transition-property: all;
    transition-duration: 0.7s;
}
li.login-li:hover>a {
    color: var(--baby-powder);
}
.sec-01 {
    width: 100%;
    height: 68vh;
    background: var(--whitegreen);
    display: flex;
    flex-wrap: wrap;
    padding-top: 6vw;
}
.sec-01-left {
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black-olive);
    font-family: var(--font-h);
    row-gap: 11vw;
    padding: 0vw 5vw;
}
.sec-01-left h1 {
    font-size: 6vw;
}
.sec-01-left h2 {
    font-size: 3.4vw;
}
.sec-01-left p {
    align-self: center;
    font-family: var(--font-p);
    color: var(--russian-green);
    font-size: 3.2vw;
}
.btn-km {
    font-family: var(--font-p);
    font-size: 3.4vw;
    align-self: center;
    width: 75%;
    padding: 10px;
}
.sec-01-right {
    height: 100%;
    width: 50%;
}
.sec-01-right img {
    height: 85%;
}
hr {
    height: 6vh;
    background-color: var(--black-olive);
    border: none;
}
.sec-02 {
    background: var(--eton-blue);
    width: 100%;
    padding: 25vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vw;
}
.sec-02-div {
    width: 75%;
    height: 20%;
    display: flex;
    align-items: center;
    column-gap: 5vw;
}
.sec-02-div div {
    width: 20%;
}
.sec-02-div p {
    font-family: var(--font-p);
    font-size: 23px;
    color: var(--black-olive);
    width: 100%;
}
footer {
    background: var(--black-olive);
    width: 100%;
    height: 12vh;
}
