@media screen and (max-width:760px) {
        .third-section-div {
        flex-direction: column;
        height: fit-content;
    }
    .third-section-left-div {
        width: 100%;
    }
    .third-section-right-div {
        width: 100%;
        height: max-content;
    }

}
