@font-face {
    font-family: 'Anchorage-Bold';
    src: url(../fonts/anchorage-bold.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Barlow', sans-serif;
    src: url(../fonts/Barlow-Medium.ttf);
    font-weight: 400;
}
:root {
    /* LightMode */
    --black-olive: #404A46ff;
    --green-pigment: #1C9941ff;
    --whitegreen: #E6F5E5;
    --yellow: #C8D92Bff;
    --middle-green-yellow: #B4C057ff;
    --russian-green: #70937Bff;
    --ash-gray: #CDD9C9ff;
    --baby-powder: #F8FAF8ff;
    --eton-blue: #89C99Bff;
    --marine-green: #b2ddbc;
    --font-menu: 'Barlow', sans-serif;
    --font-content: 'opensans'
    --font-main: 'Anchorage-Bold', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: unset;
    width: fit-content;
    height: fit-content;
}
h1, h2 {
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: var(--font-main);
}
p, label {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4vw;
}
main {
    display: flex;
    flex-direction: column;
}


/* ************* About Me ********************************* */
.header-navbar, .menu ul {
    background: var(--marine-green);
}
.menu>ul>li, .menu ul li a {
    color: var(--black-olive);
}
h1, h2 {
    font-weight: 100;
}

.third-section-div {
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--eton-blue);
}
.third-section-left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 95%;
}
.card {
    background-color: var(--marine-green);
    background: url(../../assets/assets-acerca-de/background-3.png);
    background-size: 100% 100%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    row-gap: 1vw;
    padding-top: 2vw;
    z-index: 0;
}
.card-div-img {
    width: 170px;
    height: 190px;
    background: url(../../assets/assets-acerca-de/moldura.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-div-img img {
    border-radius: 50%;
    width:80%; height:80%;
    z-index: 0;
}
.card-description {
    color: var(--black-olive);
    width: 80%;
    letter-spacing: 0px;
    font-family: var(--font-content);
    background: rgb(137,201,155);
    background: radial-gradient(circle at top, rgb(153 189 163) 0%, rgb(147 193 160) 15%, rgb(149 201 164) 32%, rgb(150 197 163) 50%, rgb(154 205 169) 67%, rgb(167 217 181) 85%, rgb(175 221 188) 100%);
    padding: 1vw 2vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    position: relative;
}
.card-description::before, .card-description::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.card-description::after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.card-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.6em;
    font-size: max(1.6vw,20px);
}
.contact-me {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2vw;
}
.contact-me a img {
    width: 25%;

}
.contact-me a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}
.third-section-right-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100vh;
    z-index: 0;
}
div.my-description {
    width: 80%;
    background: radial-gradient(circle at top, #b4c057 0%, var(--marine-green) 22%, var(--ash-gray) 32%, var(--ash-gray) 50%, #98dbab 67%, rgb(164 235 184) 85%, rgb(212 231 211) 100%);
    color: var(--black-olive);
    line-height: 30px;
    padding: 2vw;
    border-radius: 15px;
    position: relative;
}
.my-description::before, .my-description::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.my-description::after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.my-description p {
    margin-bottom: 1.5vw;
    font-size: max(1.4vw,15px);
}
.my-description div {
    width: 30%;
    text-align: center;
}
.my-description div img {
    width: 100%;
}
@media screen and (min-width:521px) and (max-width:980px) {
    div.my-description {
        width: 95%;
    }
    .my-description p {
        margin-bottom: 0;
        font-size: max(1.4vw,19px);
    }
}